#header {
    background-color: $layout;
    padding: 0.70em;
    color: white;
    position: relative;
    display: flex;
    justify-content: end;
    #list_header {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        gap: 1.25em;
        .itens_header {
            display: flex; 
            flex-direction: column-reverse;
            align-items: center;
            gap: 0.40em;
            cursor: pointer;
            .svg_header {
                width: 30px;
                height: 30px;
            }
        }
    }
    .side_button {
        background-color: transparent;
        border: none;
        display: none;
        #list_svg {
            width: 30px;
            height: 30px;
        }
    }
    #side {
        position: absolute;
        background-color: $layout;
        height: 100vh;
        top: 0;
        left: -100%;
        padding: 2em;
        width: 25vw;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.25em;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        .side_button {
            background-color: transparent;
            width: 30px;
            height: 30px;
            border: none;
            #x_svg {
                width: 30px;
                height: 30px;
            }
        }
        #list_side {
            list-style: none;
            display: flex; 
            flex-direction: column;
            align-items: center;
            gap: 1.25em;
        }
        .item_side {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.56em;
        }
        .svg_side {
            width: 30px;
            height: 30px;
        }
    }
    @include responsive(medium) {
        #list_header {
            display: none;
        }
        .side_button {
            display: block;
            cursor: pointer;
        }

        justify-content: start;
    }
}

@keyframes side1 {
    from{left: -100%}
    to{left: 0%}
}
@keyframes side2 {
    from{left: 0%}
    to{left: -100%}
}