#menu {
    display: flex;
    gap: 20px;
    background-color: $layout;
    color: white;
    padding: 1.5%;
    font-family: $family;

    #logo {
        flex-grow: 1;
    }

    .item-list {
        position: relative;
        
        #more-html {
            display: none;
            flex-direction: column;
            align-items: center;
            position: absolute;
            list-style: none;
            color: black;
            padding: 10px;
            background-color: white;
            border: 1px solid rgb(50, 50, 49);
            width: fit-content; 
            top: 30px;
                .item-more-html {
                    width: 150px;
                }
        }
    }
}