#main-container {
    width: 100%;
    font-family: $family;

    #title-body {
        background-color: $layout;
        padding: 20px;
        color: white;

        h1 {
            text-align: center;
        }
    }
}

.fade-in {
    animation: fade 3s ease forwards;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; 
    }
}