//==============================================================================================
//base do arquivo 

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

//==============================================================================================
//variáveis 

$layout: #671DC5;
$title: #731FB5;
$font: #808080;
$family: arial, helvetica, sans-serif; 

//==============================================================================================
//imports 

@import 'footer';
@import 'header';
@import 'section';

//==============================================================================================