* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #671DC5;
  align-items: center;
  padding: 10px;
  font-family: arial, helvetica, sans-serif;
}
footer #logo-footer {
  font-size: 2em;
}
footer .copy {
  font-style: italic;
}
footer .list-footer {
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
footer .list-footer h2 {
  font-size: 1em;
}
footer .list-footer a:link {
  color: rgb(230, 66, 251);
}
footer .list-footer a:visited {
  color: orange;
}
footer .list-footer a:focus {
  color: rgb(241, 18, 18);
}
footer .list-footer a:hover {
  color: rgb(0, 162, 255);
}

#menu {
  background-color: #671DC5;
  color: white;
  padding: 1.5%;
  font-family: arial, helvetica, sans-serif;
}
#menu #list-menu {
  display: flex;
  gap: 1.87em;
  list-style: none;
}
#menu #list-menu #logo {
  font-size: 1.25em;
  flex-grow: 1;
}
#menu #list-menu .item-list {
  padding: 4px;
  border-radius: 20px;
}
#menu #list-menu .item-list:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
  background-color: rgba(189, 94, 248, 0.445);
}

#main-container {
  width: 100%;
  font-family: arial, helvetica, sans-serif;
}
#main-container #title-body {
  background-color: #671DC5;
  padding: 20px;
  color: white;
}
#main-container #title-body h1 {
  text-align: center;
}

.fade-in {
  -webkit-animation: fade 3s ease forwards;
          animation: fade 3s ease forwards;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#fase-1 {
  background-image: url(../image/background-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: 100%;
  display: flex;
  align-items: center;
  height: 700px;
  width: 100%;
  margin: auto;
}
#fase-1 .img {
  width: 400px;
  height: 400px;
}
#fase-1 .img-container {
  position: relative;
  left: 22%;
}
#fase-1 .des-container {
  position: relative;
  bottom: 70px;
  left: 10%;
  font-family: arial, helvetica, sans-serif;
  width: 500px;
  text-align: justify;
  line-height: 1.5em;
}
#fase-1 .des-container h1 {
  margin: 3% 0px;
  font-size: 2.5em;
  color: #731FB5;
}
#fase-1 .des-container p {
  color: #808080;
}
@media (max-width: 320px) {
  #fase-1 {
    display: flex;
    flex-direction: column;
  }
}

#fase-2 {
  display: flex;
  height: 500px;
  justify-content: space-around;
  align-items: center;
}
#fase-2 .image-container .img-fase-2 {
  width: 450px;
  height: 300px;
}
#fase-2 .description-container {
  width: 400px;
}
#fase-2 .description-container h1 {
  color: #731FB5;
  font-size: 2em;
  text-align: center;
  margin: 2% 0px;
}
#fase-2 .description-container p {
  color: #808080;
  text-align: justify;
  line-height: 1.5em;
}
#fase-2 #division-body {
  width: 100%;
  height: 50px;
  background-color: #671DC5;
}/*# sourceMappingURL=main.css.map */